In [3]:
# 5565번: 영수증

TotalPrice = int(input())
BookPrice = []

for i in range(9):
    price = int(input())
    BookPrice.append(price)

answer = TotalPrice - sum(BookPrice)
print(answer)

9850
1050
800
420
380
600
820
2400
1800
980
600

In [7]:
# 10833번: 사과

N = int(input())
leftAppleSum = 0

for i in range(N):
    student, apple = map(int, input().split())
    leftApple = apple % student
    leftAppleSum += leftApple

print(leftAppleSum)

3
10 20
5 5
1 13
0

In [9]:
# 9325번: 얼마?

T = int(input())

for i in range(T):
    
    s = int(input())
    n = int(input())
    option = 0

    for j in range(n):
        q, p = map(int, input().split())
        option += q * p

    price = s + option
    print(price)

2
10000
2
1 2000
3 400
13200
50000
0
50000

In [11]:
# 5522번: 카드 게임

scoreSum = 0

for i in range(5):
    score = int(input())
    scoreSum += score
    
print(scoreSum)

0
100
0
10
100
210

In [14]:
# 10797번: 10부제

day = int(input())
nums = list(map(int, input().split()))
cnt = 0

for i in nums:
    if i == day:
        cnt += 1
print(cnt)

5
1 3 0 7 4
0

In [16]:
# 10569번: 다면체

T = int(input())
for i in range(T):
    V, E = map(int, input().split())
    F = 2 - V + E
    print(F)

2
8 12
6
4 6
4

In [34]:
# 1977번: 완전제곱수

M = int(input())
N = int(input())
squareNums = []

for i in range(1, 101):
    squareNum = i ** 2
    if squareNum >= M and squareNum <= N:
        squareNums.append(squareNum)
    if squareNum > N:
        break

if sum(squareNums) == 0:
    print(-1)
else:
    print(sum(squareNums))
    print(min(squareNums))

75
80
-1

In [48]:
# 11098번: 첼시를 도와줘!

n = int(input())

for i in range(n):
    p = int(input())
    cost = 0
    
    for j in range(p):
        c, name = map(str, input().split())
        
        if int(c) > cost:
            cost = int(c)
            player = name
            
    print(player)

2
3
10 Iversen
1000000 Nannskog
2000000 Ronaldinho
Ronaldinho
2
1000000 Maradona
999999 Batistuta
Maradona

In [ ]:
# # 5635번: 생일

# n = int(input())
# yearList = []
# monthList = []
# dayList = []
# nameList = []

# for i in range(n):
#     name, dd, mm, yyyy = map(str, int().split())
#     nameList.append(name)
#     dayList.append(dd)
#     monthList.append(mm)
#     yearList.append(yyyy)

In [62]:
# 5635번: 생일

n = int(input())
max_year = 1989
max_month = 0
max_day = 0
min_year = 1991
min_month = 2
min_day = 2

for i in range(n):
    name, dd, mm, yyyy = map(str, input().split())
    
    if int(yyyy) > max_year:
        max_year = int(yyyy)
        max_month = int(mm)
        max_day = int(dd)
        youngest = name
    elif int(yyyy) == max_year:
        if int(mm) > max_month:
            max_month = int(mm)
            max_day = int(dd)
            youngest = name
        elif int(mm) == max_month:
            if int(dd) > max_day:
                max_day = int(dd)
                youngest = name
                
    if int(yyyy) < min_year:
        min_year = int(yyyy)
        min_month = int(mm)
        min_day = int(dd)
        oldest = name
    elif int(yyyy) == min_year:
        if int(mm) < min_month:
            min_month = int(mm)
            min_day = int(dd)
            oldest = name
        elif int(mm) == min_month:
            if int(dd) < min_day:
                min_day = int(dd)
                oldest = name
                
print(youngest)
print(oldest)

5
Garfield 20 9 1990
Jerry 18 9 1990
Tom 15 8 1993
Alice 30 12 1990
Mickey 1 10 1991
Tom
Jerry

In [63]:
# 1408번: 24

present = input()
start = input()

13:52:30
14:00:00

str

In [69]:
# 2506번: 점수계산

N = int(input())
result = list(map(int, input().split()))
score = 0
totalscore = 0

for i in range(N):
    if result[i] == 1:
        score += 1
        totalscore += score
    else:
        score = 0

print(totalscore)

10
1 0 1 1 1 0 0 1 1 0
10

In [72]:
# 9085번: 더하기

T = int(input())

for i in range(T):
    N = int(input())
    numList = list(map(int, input().split()))
    ans = 0
    for j in numList:
        ans += j
    print(ans)

2
5
1 1 1 1 1
5
7
1 2 3 4 5 6 7
28

In [73]:
# 2455번: 지능형 기차

people = 0
train = []

for i in range(4):
    O, I = map(int, input().split())
    people -= O
    people += I
    train.append(people)

answer = max(train)
print(answer)

0 32
3 13
28 25
39 0
42

In [74]:
# 2475번: 검증수

nums = list(map(int, input().split()))
checknum = 0

for i in nums:
    checknum += (i ** 2)

checknum = (checknum % 10)
print(checknum)

0 4 2 5 6
1