In [3]:
# 10178벙: 할로윈의 사탕

T = int(input())
for i in range(T):
    c, v = map(int, input().split())
    sons = c//v
    father = c%v
    print("You get", sons, "piece(s) and your dad gets", father, "piece(s).")

1
22 3
You get 7 piece(s) and your dad gets 1 piece(s).

In [8]:
# 9295번: 주사위

T = int(input())
for i in range(1, T+1):
    n, m = map(int, input().split())
    print("Case "+str(i)+": "+str(n+m))

1
1 2
Case 1: 3

In [11]:
# 9295번: 주사위

T = int(input())
for i in range(1, T+1):
    n, m = map(int, input().split())
    print('Case {}:'.format(i), n+m)

5
1 2
Case 1: 3
1 3
Case 2: 4
3 5
Case 3: 8
2 6
Case 4: 8
3 4
Case 5: 7

In [15]:
# 2921번: 도미노

N = int(input())
ans = 0

for i in range(1, N+1):
    ans += 1.5*i*(i+1)
print(int(ans))

15
2040

In [22]:
# 1408번: 24

h2, m2, s2 = map(int, input().split(':'))
h1, m1, s1 = map(int, input().split(':'))
present = s2 + m2 * 60 + h2 * 60 * 60
start = s1 + m1 * 60 + h1 * 60 * 60
if present > start :
    start += (24 * 60 * 60)
result = start - present
print("%.2d:" %(result//3600), end = '')
result = result % 3600
print("%.2d:" %(result//60), end = '')
print("%.2d" %(result%60))

13:52:30
14:00:00
00:07:30

In [38]:
# 10984번: 내 학점을 구해줘

T = int(input())

for i in range(T):
    N = int(input())
    grade = 0
    score = 0
    for j in range(N):
        C, G = map(float, input().split())
        grade += C
        score += C*G
    GPA = score / grade
    print(int(grade), "%.1f" %(GPA))

1
4
3 4.3
2 2.0
4 0.0
2 4.0
11 2.3